.mat-dialog-container {
  padding: 1rem 0;
}

.home-custom-input {
  color: #0e1139;
  display: block;
  margin: 0.7rem auto;
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: 1px solid #f0f0f0;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
}

.home-custom-input:focus {
  outline: 1px solid #ddd;
}

.home-custom-input::placeholder {
  color: #cad2d4;
}

.home-interopx-login {
  text-align: center;
}

.home-interopx-login .btn-get-started {
  background-color: #ff9703;
  margin-top: 1rem;
}

.btn-get-started {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #232428;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.client-custom-form-error {
  outline-color: red;
}

.client-custom-form-error::placeholder {
  color: red;
}

















@import "./../styles/mixins.scss";

.buttons {
  display: flex;
  margin-left: 150px;
}

:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 110;
  background: #ffffff;
}

.error-msg {
  padding-top: 12px;
  padding-left: 5px;
}

// .login {
//   height: 100vh;
// }

.header1 {
  width: 100%;
  height: 130px;
  margin-bottom: 32px;
  background: #232428;
  // background: url("../../assets/images/login-bg.png") center -1px no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $l-screen) {
    height: 264px;
    margin-bottom: 64px;
  }

  &__image {
    width: 248px;
    height: 56px;
  }
}

.content {
  width: 100%;
  max-width: 394px;
  height: calc(100vh - 330px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;

  &__box {
    width: 100%;
  }

  &__heading {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #09090a;
    margin-bottom: 24px;

    @media (min-width: $l-screen) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 34px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  &__form-box {
    margin-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #818faf;
    margin-bottom: 40px;

    @media (min-width: $l-screen) {
      margin-bottom: 72px;
    }

    a {
      font-weight: 600;
      color: #0083ef;
      text-decoration: none;
    }
  }

.footer {
  &__text {
    font-size: 14px;
    line-height: 18px;
    color: #52525d;
    margin-bottom: 14px;
    text-align: center;

    @media (min-width: $l-screen) {
      margin-bottom: 26px;
    }
  }

  &__links {
    width: 100%;
    max-width: 190px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
}
