/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./app/styles/tabs-header.scss";
// @import "./app/styles/table.scss";
// @import "./app/styles/filter.scss";
// @import "./app/styles/reset.scss";
// @import "./app/styles/customization.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  color: $main-text-color;

  * {
    box-sizing: border-box;
  }
  line-height: normal !important;
}

// GENERAL RESET BEGIN
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  font-size: 100% !important;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !important;
  vertical-align: baseline !important;
}

.headerfix {
  position: fixed;
  z-index: 9999;
}

.footerfix {
  position: fixed !important;
  // z-index: 9999;
  left: 0;
  bottom: 0;
  padding-left: 56px;
  width: 100%;
  height: 56px;
  margin-top: 0px !important;
}

.analytics {
  display: block;
  padding-left: 56px;
  padding-top: 56px;
  padding-bottom: 566px;
  // background: #ededed;
  background: #f8fcff;
  //   height: 100%;
}

::ng-deep .mat-drawer-container {
  height: 100% !important;
}

.tablecss {
  // Table design

  tr.mat-header-row {
    height: 30px;
    background-color: #f7f7f7;
  }

  tr.mat-row {
    height: 30px;
  }

  td {
    font-size: 13px !important;
    // padding-left: 10px !important;
    // padding-right: 10px !important;
    padding: 10px !important;
    // max-width: 80px !important;
    // text-align: left;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  th {
    background-color: #f7f7f7;
    position: sticky !important;
    top: 0 !important;
  }

  th.mat-header-cell:first-of-type {
    padding-left: 12px !important;
  }

  td.mat-cell:last-of-type {
    padding-right: 0px !important;
    color: #000000;
  }

  td.mat-cell:first-of-type {
    padding-left: 12px !important;
    padding-right: 5px;
  }

  tr.patient-details {
    height: 0;
  }

  tr.mat-row.expanded {
    background-color: #e7f3fe;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5%;
  height: 5px;
}

// __<<ngThemingMigrationEscapedComment1>>__
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px #d1d0d0;
//   border-radius: 50px;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5%;
}

// __<<ngThemingMigrationEscapedComment3>>__
// ::-webkit-scrollbar-thumb:hover {
//   background: gray;
// }
