// .divbg{
//     background: #f6f6f6;    
//     // height: -webkit-fill-available;
//     padding: 2em 6em !important;
// }

p {
    line-height: 1.5;
}

.code-tag {
    background-color: #ddd;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: text;
}

code {
    line-break: anywhere;
}

.lineheight {
    line-height: 1.5;
}

// ul li {
    // list-style: none;
// }

.iconstyle {
    vertical-align: sub !important;
    font-size: 16px !important;
    padding-right: 8px;
}

.api-side-nav {
    background-color: #f6f6f6;
    grid-area: A;
    height: 100vh;
    overflow: scroll;
    padding: 2rem 1rem 2rem 2rem;
  }
  
  .api-side-nav-items {
    color: #0e1139;
    cursor: pointer;
  }
  
  .api-side-nav-items:hover {
    text-decoration: underline;
  }
  
  .api-main-main {
    padding: 2rem;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !important;
  }
  
  .grid-container {
    // width: 80%;
    margin: 0 auto;
    display: grid;
    height: 100vh;
    grid-template-areas: "A A B B   B B B B   B B B B";
  }
  
  .api-title-name {
    color: #0e1139;
    font-weight: 700;
    font-size: 2rem !important;
  }
  
  // .api-main-content {
  //   padding-top: 6rem;
  // }
  
  .api-sub-p {
    color: black;
  }
  
  .api-table-small {
    margin-top: 2rem;
  }
  
  .api-tab-p {
    color: black;
    margin: 6px 0;
    line-height: 1.5rem;
  }
  
  .api-sub-tab-p {
    color: #0e1139;
    margin: 6px 0;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .api-table-heading-left {
    width: 150px;
  }
  
  .api-req-res-p {
    background-color: #ddd;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: text;
  }
  
  details {
    cursor: pointer;
    margin: 2rem 0;
  }
  
  pre {
    white-space: pre-wrap;
  }
  
  .api-table {
    margin-top: 2rem;
  }
  
  .api-table table,
  .api-table tr,
  .api-table td {
    width: 100%;
    line-height: 1.5rem;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .api-table thead {
    font-weight: 700;
    background-color: #f6f6f6;
    text-align: center;
    color: #0e1139;
  }
  
  .api-table td {
    padding: 0.5rem 1rem;
    width: fit-content;
  }
  
  summary {
    color: #0e1139;
    font-weight: bold;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 5%;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5%;
  }
  