<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table border="1">
		<tbody>
			<tr th:if="${not resource.clinicalStatus.empty} AND ${not resource.clinicalStatus.coding.empty} AND ${resource.clinicalStatus.coding[0].code != null}">
				<td>Status</td>
				<td><span th:text="${resource.clinicalStatus.coding[0].code}"></span></td>
			</tr>
			<tr	th:if="${not resource.code.empty} AND ${not resource.code.coding.empty} AND ${resource.code.coding[0].code != null}">
				<td>AllergyIntolerance Code</td>
				<td><span th:text="${resource.code.coding[0].code}"></span></td>
			</tr>
			<span th:with="expr_result = ${not resource.code.empty} AND ${not resource.code.coding.empty} AND ${resource.code.coding[0].display!=null}">
			<tr	th:if="${expr_result}">
				<td>AllergyIntolerance Name</td>
				<td><span th:text="${resource.code.coding[0].display}"></span></td>
			</tr>				
			<tr	th:unless="${expr_result}">
			     <span th:if="${not resource.code.empty}">
				<td>AllergyIntolerance Name</td>
				<td><span th:text="${resource.code.text}"></span></td>
				</span>
			</tr>
			</span>
			<!-- <tr th:if="${resource.onset instanceof org.hl7.fhir.r4.model.DateTimeType}">
				<td>AllergyIntolerance date</td>
				<td><span th:text="${#dates.format(resource.onsetDateTime.value,'dd MMMM yyyy')}"></span></td>
			</tr> -->
		</tbody>
	</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->