<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table border="1">
		<tbody>
			<tr th:if="${not resource.statusElement.empty}">
				<td>Status</td>
				<td><span th:text="${resource.status}"></span></td>
			</tr>
			<tr	th:if="${not resource.statusReason.empty} AND ${not resource.statusReason[0].coding.empty} AND ${not resource.statusReason[0].coding[0].code != null}">
				<td>Status Reason Code</td>
				<td><span th:text="${resource.statusReason[0].coding[0].code}"></span></td>
			</tr>
			<span th:with="expr_result = ${not resource.statusReason.empty} AND ${not resource.statusReason[0].coding.empty} AND ${resource.statusReason[0].coding[0].display!=null}">
			<tr	th:if="${expr_result}">
				<td>Status Reason Name</td>
				<td><span th:text="${resource.statusReason[0].coding[0].display}"></span></td>
			</tr>				
			<tr	th:unless="${expr_result}">
			<span th:if="${not resource.statusReason.empty}">
				<td>Status Reason Name</td>
				<td><span th:text="${resource.statusReason[0].text}"></span></td>
			</span>
			</tr>
			</span>
			<tr	th:if="${not resource.medicationCodeableConcept.empty} AND ${not resource.medicationCodeableConcept.coding.empty} AND ${not resource.medicationCodeableConcept.coding[0].code != null}">
				<td>MedicationAdministration Code</td>
				<td><span th:text="${resource.medicationCodeableConcept.coding[0].code}"></span></td>
			</tr>
			<span th:with="expr_result = ${not resource.medicationCodeableConcept.empty} AND ${not resource.medicationCodeableConcept.coding.empty} AND ${resource.medicationCodeableConcept.coding[0].display!=null}">
			<tr	th:if="${expr_result}">
				<td>MedicationAdministration Display</td>
				<td><span th:text="${resource.medicationCodeableConcept.coding[0].display}"></span></td>
			</tr>				
			<tr	th:unless="${expr_result}">
				<td>MedicationAdministration Display</td>
				<td><span th:text="${resource.medicationCodeableConcept.text}"></span></td>
			</tr>
			</span>
			<tr th:if="${resource.effective instanceof org.hl7.fhir.r4.model.DateTimeType}">
				<td>Effective Date</td>
				<td><span th:text="${#dates.format(resource.effective.value,'dd MMMM yyyy')}"></span></td>
			</tr>
		</tbody>
	</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->