<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table border="1">
			<tbody>
			<span th:if="${not resource.identifier.empty}">
			<span  th:each="identifier:${resource.identifier}">
				<tr>
					<td>Identifier System</td>
					<td><span th:text="${identifier.system}"></span></td>
				</tr>
				<tr>
					<td>Identifier Value</td>
					<td><span th:text="${identifier.value}"></span></td>
				</tr>
			</span>
			</span>
			<tr th:if="${not resource.activeElement.empty}">
				<td>Active</td>
				<td><span th:text="${resource.active}"></span></td>
			</tr>
			<span th:if="${not resource.telecom.empty}">
				<tr th:each="telecom:${resource.telecom}">
					<td>Telecom Value</td>
					<td><span th:text="${telecom.value}"></span></td>
				</tr>
			</span>
				<tr
					th:if="${not resource.code.empty} AND  ${not resource.code[0].coding.empty} AND ${resource.code[0].coding[0].code!=null}">
					<td>Practioner Role Code</td>
					<td><span th:text="${resource.code[0].coding[0].code}"></span></td>
				</tr>
				<span
					th:with="expr_result = ${not resource.code.empty} AND ${not resource.code[0].coding.empty} AND ${resource.code[0].coding[0].display!=null}">
					<tr th:if="${expr_result}">
						<td>Practioner Role</td>
						<td><span
							th:text="${resource.code[0].coding[0].display}"></span></td>
					</tr>
					<tr th:unless="${expr_result}">
					<span th:if="${not resource.code.empty}">
						<td>Practioner Role</td>
						<td><span th:text="${resource.code[0].text}"></span></td>
						</span>
					</tr>
				</span>
			</tbody>
		</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->