@import "variables";

@mixin basic-input() {
  height: 28px;
  font-family: $sourceSansPro;
  background: #f3f3f3;
  border-radius: 5px;
  -webkit-appearance: none;

  &::placeholder {
    font-family: $sourceSansPro;
    font-size: 14px;
    line-height: 18px;
    color: #818faf;
  }
}

@mixin custom-scrollbar($track-color, $scrollbar-color) {
  &::-webkit-scrollbar {
    height: 8px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    outline: none;
    border-radius: 8px;
  }
}

@mixin basic-button() {
  width: 100%;
  height: 32px;
  background: #0083ef;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover:not(.transparent) {
    transition: 0.3s;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.65);
  }
}
