$sourceSansPro: "Source Sans Pro", "Helvetica Neue", sans-serif;
$main-text-color: #52525d;
$sideNavWidth: 56px;

// Media Breackpoints
$xxs-screen: 320px;
$xs-screen: 476px;
$s-screen: 768px;
$sm-screen: 991px;
$md-screen: 1366px;
$l-screen: 1440px;
$xl-screen: 1600px;
$xxl-screen: 1920px;

$header-height: 56px;
